<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXyl1I3JLEq40_oIBonAWFy72cfY9KWXs</string>
	<key>GCM_SENDER_ID</key>
	<string>113119961933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aishwaryapshetty.SpaceBoxAssignment</string>
	<key>PROJECT_ID</key>
	<string>spaceboxassignment-5fcc9</string>
	<key>STORAGE_BUCKET</key>
	<string>spaceboxassignment-5fcc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113119961933:ios:750f73987ef4b050aacd04</string>
</dict>
</plist>